{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}


<div id='goals' class='fullbox'>
    <h1>Our Goals</h1>

    <p>
        <img src='http://eco-logik.weebly.com/uploads/8/0/5/5/8055923/9299574.jpg' style='float: left;' />Our goals are to increase urban food security, urban sustainability and awareness in agriculture and differing food systems.  To create aesthetically pleasing, productive and sustainable gardens and boxes to act as an educational bridge to increase involvement in growing, preparing and eating home-grown food, imparting values such as community connectedness, civic and environmental responsibility.
    </p>
    <p>
        To promote a socially responsible company that mentors and supports its' employees.  To provide a portion of potential profits back into the community through volunteerism.  To support local businesses in becoming more sustainable.
    </p>
</div>
<div id='eating' class='fullbox'>
    <h1>Eating Seasonally</h1>

    <p>
        Gardens can provide the base of a meal, as one incorporates produce that is ready in the garden into meals. Take a stroll outside, scope out what looks ready and which ingredients would complement each other nicely. Harvest the foods, take off any large leaves that can be composted, and bring the vegetables and fruits into the kitchen for cleaning. By preparing meals in this way, taste preferences are incorporated, as well as seasonal eating. In the winter, it is mostly cabbages, leaks, kale, turnips and Brussels sprouts that are harvestable, while the rest of the garden lays dormant.
    </p>
    <p>
        <img src='http://eco-logik.weebly.com/uploads/8/0/5/5/8055923/1326144237.jpg' style='float: left;' />In the early spring, spinach and garlic scapes are added to the bounty. In the late spring, early summer, lettuce, strawber­ries, herbs, small beets, beet greens, chard, radishes and green onions are now ready. In the summer we are blessed with the full bounty of harvest, with a seemingly unlimited selection. Then in the fall potatoes, parsnips and second rotations of onions and shallots are ready, in addition to winter raspberries. In this way, gardens are used to foster seed to table connections where food is grown, harvested, prepared, cooked and eaten. This reconnects folks to their local food system and re-incorporated self-sufficiency in the diet. In this way, food that is harvested can guide the meals that are prepared, rather than the conven­tional mindset of deciding what you want, finding it in the supermarket, and then preparing it.
    </p>
</div>

{% endblock %}
