{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class='eye-grabber' style='float: left;'>
    <div class='text'>
        <p>
            We are a Vancouver based company that offers all landscaping services throughout the lower mainland for the residential owner.
        </p>
        <p>
            We focus on quality service and environmental sustainability.          </p>
    </div>
</div>
<div class='eye-grabber' style='float: left;'>
    <div class='text'>
        <p>Our professional team of staff looks forward to meeting you to discuss how we can help you with all your landscaping needs.</p>
        <p>Get a free quote today</p>
    </div>
</div>
<div class='clear'></div>
{% endblock %}
