{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class='introbox'>
    <div id='main-title'><div id='home-title'>Ecologik Landscaping and Construction</div>a Vancouver company offering services to all of lower mainland.</div>
</div>
<div class='eye-grabber' >
    <div class='text'>
        <p>
            We are a Vancouver based company that offers all landscaping services throughout the lower mainland for the residential owner.
        </p>
        <p>
            We focus on quality service and environmental sustainability.          </p>
        <a class='button' id='get-quote' href='{% url contact %}'><h3>Get a free quote today!</h3></a>
    </div>
</div>
<div class='clear'></div>
{% endblock %}
