{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class='fullbox'>
    <h1>Plants Index</h1>
    <div class='sub-nav'>
        <a href='#'>
            Crops
            <div class='arrow'></div>
        </a>
        <a href='#'>
            Herbs
            <div class='arrow'></div>
        </a>
        <a href='#' class='selected'>
            Shrubs
            <div class='arrow'></div>
        </a>
        <a href='#'>
            Trees
            <div class='arrow'></div>
        </a>
    </div>

    <div class='inner'>
        <h2>Plants for your Balcony, Garden and Backyard</h2>
        We provide a large selection of plants and vegetation, ranging from crops, to trees, to edible flowers. Select a category above to begin exploring.
    </div>
</div>


{% endblock %}
