{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class='fullbox'>
    <h1>Landscape Construction</h1>
    
    <h2>Compost Systems</h2>
    <p><img src='http://eco-logik.weebly.com/uploads/8/0/5/5/8055923/2270266.jpg?583' style='float: left; width: 100px;'/>Composting is a great way to recycle and reuse garden and kitchen waste into a great addition to your garden.  We have a variety of plans and designs that will suit all your composting requirements.  We also show you how to use your compost and will guide you through the entire process.</p>
        
    <h2>Fences and Decks</h2>
    <p>We offer a large selection of fences and decks to suit your needs. We will work with you to arrive at design approaches that suit your site and situation from living hedges to wooden fences.  We combine quality materials with our team's skills to implement projects that will stand the test of time. </p>
    
    <h2>Irrigation</h2>
    <p>We offer a variety of irrigation services from drip irrigation to sprinkler systems.  We can also work with you to install rainwater collection systems that can help offset water use in your garden.</p>
    
    <h2>Lighting</h2>
    <p>Creating safety and sanctuary, we want your garden looking beautiful day and night.  Our team will install lights to create an eco-friendly night time oasis in your garden.</p>
    
    <h2>Stonework</h2>
    <p>We can help design and install custom walkways, patios, retaining walls, and terracing.  We focus on providing quality, locally sourced stones to suit your needs. </p>
    
    <h2>Water Features</h2>
    <p>Water features can help turn your landscape into something unique and special. We can help you with your custom water features, including solar powered fountains, ponds and waterfalls. </p>
    
    <h2>Landscape Maintanence</h2>
    <p>We are an experienced team of landscape maintenance personnel.  Our quality team works with you to effectively manage your landscape maintenance.  We provide all services, including but not limited to, lawn trimming, weeding, pruning and harvesting.</p>
</div>

{% endblock %}
