html, body { padding: 0; margin: 0; background: url('../images/paper.png'); }
#container { margin: 0 auto; width: 960px; background: #a5cbba url('../images/bg_farmer_960_blur.jpg') top center no-repeat; box-shadow: 0 0 35px rgba(0,0,0,0.4); }
#header { height: 150px; background: rgba(255,255,255,0.8); }
	#logo { display: block; width: 250px; height: 150px; float: left; background: url('../images/logo.png') center center no-repeat; }
	#nav { font-family:"Aovel Neo", Verdana; text-transform: lowercase; width: 710px; height: 149px; line-height: 89px; float: left; font-size: 25px; margin-bottom: 1px; }
		#nav ul { margin: 0; padding: 0; list-style: none; overflow: auto; }
		#nav ul li a { display: block; color: #000; text-decoration: none; float: left; width: 177px; padding-top: 60px; text-align: center; }
		#nav ul li a:hover { background: rgba(255,255,255,0.4); }
		#nav ul li a.selected { box-shadow: inset 0 -5px 30px 0 rgba(20,20,0,0.2); background: rgba(255,255,255,0.4); }
#content { font-family: "Georgia";  }
	.eye-grabber { margin-left: 40px;width: 420px; position: relative; background: rgba(255,255,255,0.5); border-top: 1px solid rgba(255,255,255,0.7);  font-size: 18px; line-height: 30px; color: #2b3a32; text-shadow: 0 0 20px #fff, 0 0 10px #fff, 0 1px 0 #fff; }
	.eye-grabber .text { padding: 30px 50px 40px 50px; }
        .eye-grabber .text p { margin: 0 0 10px 0; padding: 0; }

#footer { height: 80px; line-height: 20px; margin-top: 40px; background: rgba(255,255,255,0.5); text-align: center; font-size: 15px; color: rgba(0,0,0,0.7); font-family: Arial, Helvetica, sans-serif; padding-top: 20px; }

#main-title { font-family: "Aovel Neo"; font-size: 22px; text-align: center; }


.introbox { line-height: 22px; margin: 40px; width: 840px; background: rgba(255,255,255,0.5); padding: 20px; color: #2b3a32; text-shadow: 0 1px 0 rgba(255,255,255,0.5); }
.fullbox { line-height: 22px; margin: 40px; width: 880px; border-top: 2px solid rgba(255,255,255,1); background: rgba(255,255,255,0.5); padding: 0px; color: #2b3a32; text-shadow: 0 1px 0 rgba(255,255,255,0.5); }
.fullbox h1 { font-size: 30px; line-height: 30px; margin: 0; padding: 0; background: rgba(255,255,255,0.7); position: relative; padding: 10px 40px; font-family: 'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,sans-serif; color: #2b3a32; text-shadow: 0 1px 0 #fff; font-weight: normal;}
.fullbox h2 { font-size: 22px; line-height: 25px; margin: 20px 0 10px 0; padding: 0;font-family: "Aovel Neo"; color: #2b3a32; text-shadow: 0 1px 0 #fff; font-family: 'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,sans-serif; font-weight: normal; }
.fullbox .inner { clear: both; padding: 20px 40px; line-height: 25px; }

p { margin: 0; padding: 0; }

#home-title { font-family: "Aovel Neo"; font-size: 30px; margin-bottom: 15px; }


#contact form {  }
#contact form input, #contact form textarea, #contact form button, #contact form label { display: block; padding: 5px 10px; }
#contact form input, #contact form textarea, #contact form label {  border: 1px solid rgba(255,255,255,0.7); margin-bottom: 5px; background: rgba(255,255,255,0.8); border-left: 5px solid #fff; }
#contact form input { width: 500px; }
#contact form textarea { width: 500px; min-height: 100px; }
#contact form button { padding: 10px 20px; font-size: 20px; border: none; border-left: 5px solid #fff; background: rgba(255,255,255,0.7); font-family: "Aovel Neo"; margin: 0;}

.clear { clear: both; }

/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {font-family:"Aovel Neo";src:url("../fonts/aOVELNeo_r.eot?") format("eot"),url("../fonts/aOVELNeo_r.woff") format("woff"),url("../fonts/aOVELNeo_r.ttf") format("truetype"),url("../fonts/aOVELNeo_r.svg#AovelNeo") format("svg");font-weight:normal;font-style:normal;}


.fullbox img {  margin: 0 15px 10px 0; padding: 1px; }


.sub-nav { position: relative; font-family: 'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,sans-serif; }
.sub-nav a { background: rgba(255,255,255,0.5); display: block; float: left; line-height: 100px; width: 25%; text-align: center; color: #000; text-decoration: none; position: relative; border-top: 2px solid #fff; margin-top: -2px;}
.sub-nav a.selected { background: rgba(255,255,255,0.7); border: 2px solid #fff; border-top: none; margin: 0 -2px -2px -2px; }
.sub-nav a .arrow { display: none; position: absolute; bottom: 0; left: 50%; margin: 0 0 -20px -15px; width: 30px; height: 20px; background: url('../images/nav-arrow.png') top left no-repeat; }
.sub-nav a.selected .arrow { display: block; }


.button {
 
    display: block;
    text-decoration: none;
    margin-top: 20px;
	/*basic styles*/
	color: #444; background-color: #99CF00;
	text-align: center;  font-size: 30px;  line-height: 50px;
 
 
	/*gradient styles*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(rgba(200,200,200,0.1)));
	background: -moz-linear-gradient(19% 75% 90deg,#6DB700, #99CF00);
 
	/*border styles*/
    border: 1px solid #aaa;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-gradient(linear, 0% 0%, 0% 100%, from(#99CF00), to(#6DB700))
 
}
 
.button h3 {
	font-size: 20px;
	line-height: 35px;
    margin: 0; padding: 0;
	font-family: helvetica, sans-serif;
}
 
.button p {
	font-size: 12px;
	line-height: 4px;
	font-family: helvetica, sans-serif;
    text-shadow: none;
}
 
.button:hover {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6DB700), to(#99CF00));
	background: -moz-linear-gradient(19% 75% 90deg,#99CF00, #6DB700);
}
